<div class="page-header page-header-nomargin">
    <h2>Erstellen</h2>
</div>
<div class="col-xs-12 col-md-4">
    <div class="panel panel-default">
        <div class="panel-heading">
            <h3 class="panel-title">Generieren</h3>
        </div>
        <div class="panel-body">
            <div class="form-group">
                <label>Anzahl Rechnungen</label>
                <input ng-model="create.quantity" ng-change="create.quantityChanged()" type="number" min="0" class="form-control" value="{{create.quantity}}">
            </div>
            <label>Wertebereich 1. Zahl</label>
            <div class="panel panel-default">
                <div class="panel-body">

                    <div class="col-md-6">
                        <div class="input-group">
                            <span class="input-group-addon" id="sizing-addon1">Min</span>
                            <input ng-model="create.number1Min" ng-change="create.number1MinChanged()" type="number" min="0" class="form-control" aria-describedby="sizing-addon2" value="{{create.number1Min}}">
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="input-group" >
                            <span class="input-group-addon" id="sizing-addon2">Max</span>
                            <input ng-model="create.number1Max" ng-blur="create.number1MaxChanged()" type="number" min="0" class="form-control" aria-describedby="sizing-addon2" value="{{create.number1Max}}">
                        </div>
                    </div>
                </div>
            </div>

            <div class="form-group">
                <label>Operator</label>
                <select ng-model="create.selectedOption" ng-options="option.name for option in create.options" class="form-control">
                </select>
            </div>

            <label>Wertebereich 2. Zahl</label>
            <div class="panel panel-default">
                <div class="panel-body" >
                    <div class="col-md-6">
                        <div class="input-group">
                            <span class="input-group-addon" id="sizing-addon3">Min</span>
                            <input ng-model="create.number2Min" ng-change="create.number2MinChanged()" type="number" min="0" class="form-control" aria-describedby="sizing-addon2" value="{{create.number2Min}}">
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="input-group" >
                            <span class="input-group-addon" id="sizing-addon4">Max</span>
                            <input ng-model="create.number2Max" ng-blur="create.number2MaxChanged()" type="number" min="0" class="form-control" aria-describedby="sizing-addon2" value="{{create.number2Max}}">
                        </div>
                    </div>
                </div>
            </div>
            <button type="button" class="btn pull-right btn-default" ng-click="create.generate()">Generieren</button>
        </div>
        <div class="row show-hide-message" ng-show="create.isGenerateFeedback">
            <div class="col-md-12">

                <div class="alert alert-warning">
                    {{ create.generateFeedback }}
                </div>
            </div>
        </div>
    </div>
</div>

<div class="col-xs-12 col-md-4" >
    <div class="panel panel-default">
        <div class="panel-heading">
            <h3 class="panel-title">Bearbeiten</h3>
        </div>
        <div class="panel-body">
            <div class="form-group">
                <label>Rechnung</label>
                <textarea ng-model="create.preCalculations" value="{{create.preCalculations}}" class="form-control" rows="5" placeholder="2+3; 4*5;"></textarea>
            </div>
            <button ng-click="create.addCalculation()" type="button" class="btn pull-right btn-default" >Hinzufügen</button>
        </div>
    </div>
</div>

<div class="col-xs-12 col-md-4">
    <div class="panel panel-default">
        <div class="panel-heading">
            <h3 class="panel-title">Speichern</h3>
        </div>
        <div class="panel-body">
            <div class="row" style="margin: 0px">
                <div>
                    <!--   Rechnungen -->
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            Rechnungen
                        </div>
                        <div class="panel-body">
                            <div style="max-height:449px;overflow:auto;" class="table-responsive">
                                <table class="table table-striped table-bordered table-hover">
                                    <tr ng-repeat="calculation in create.calculations">
                                        <td>{{ $index + 1 }}</td>
                                        <td>{{ calculation.n1 }} {{calculation.op}} {{calculation.n2}} = {{calculation.res}}</td>
                                        <td>
                                            <button ng-click="create.deleteCalc($index)" type="button" class="btn btn-default btn-sm" data-toggle="tooltip" title="Löschen">
                                                <span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
                                            </button>
                                        </td>
                                    </tr>
                                </table>
                            </div>
                        </div>
                    </div>
                    <!-- End  Rechnungen -->
                </div>

            </div>

            <div class="form-group">
                <label>Bezeichnung</label>
                <input ng-model="create.name" type="text" class="form-control" aria-describedby="sizing-addon2" value="{{create.name}}">
                <label>Schwierigkeit</label>
                <select ng-model="create.selectedDifficultLevel" ng-options="difficultLevel.name for difficultLevel in create.difficultLevels" class="form-control">
                </select>
            </div>

            <button ng-click="create.submit()" type="submit" class="btn pull-right btn-success">Speichern</button>
        </div>
        <div class="row show-hide-message" ng-show="create.isSubmitFeedback">
            <div class="col-md-12">

                <div class="alert alert-success">
                    {{ create.submitFeedback }}
                </div>
            </div>
        </div>
    </div>
</div>
