<div class="modal-header">
    <h3 class="modal-title">Aufgaben lösen {{vm.calcId}}</h3>
</div>
<div class="modal-body">
    <form name="form" class="css-form calc" novalidate>
        <div>
            8 + 6 = <input type="text" name="solution" maxlength="4" size="4" style="text-align:center;" placeholder="?">
        </div>
    </form>
</div>
<div class="modal-footer modal-footer-custom">
    <span class="col-xs-9 col-sm-9" style="padding-top: 7px;">
        <progressbar max="20" value="15"><span style="color:white; white-space:nowrap;">15 / 20</span></progressbar>
    </span>
    <button class="btn btn-default" ng-click="vm.cancel()">Cancel</button>
    <button class="btn btn-primary" ng-click="vm.ok()">OK</button>
</div>